html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #F8F8F8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

aside {
  overflow-y: scroll;
  height: 585px;
  padding-left: 5px;
}

::-webkit-scrollbar{
  width: 20px;
}

::-webkit-scrollbar-track{
  background-color: black;
}

.dropDownLogo {
  padding-left: 8px;
  width: 1.5rem;
  padding-top: 7px;
}

.card_container {
  padding-top: 20px;
}

.rounded_card {
  border-radius: 10px;

}

.isHoverable {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 12px;
}

.isHoverable :hover {
  transform: scale(1.1);
}

.isHoverable div :hover{
  transform: none;
}

/* Play-Ground Css <----- GRID ------ > Init */
.item1 { grid-area: editor; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
  'editor main'
  'editor main'
  'editor main';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* Play-Ground Css <----- GRID ------ > End */


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: gray/*rgba(0,0,0,0.8)*/; 
}


.active_carousel{
  display: block;
}

.hidden_carousel{
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

.paddedSearchBar {
  padding-top: 10px;
  padding-bottom: 13px;
  display: none;
}

.paddedSearchBar {
  padding-top: 10px;
  padding-bottom: 13px;
  display: none;
}

.show { display: block;}

.paddedHideButton{
  padding-left: 10px;
}

.is-heroed-tab{
  padding-top: 40px;
}

.is-heroed-tab textarea{
  resize: none;
}

.notif {
  position: fixed;
  bottom: 55px;
  right: 25px;
  display: block;
}

.closed {
  display: none;
}